<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "logout" %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url "category_list" %}">My Expense Categories</a>
                    </li>
                    <li>
                        <a href="{% url "account_list" %}">My Accounts</a>
                    </li>
                    <li>
                        <a href="{% url "home" %}">My Receipts</a>
                    </li>
                    <li>
                        <a href="{% url "create_category" %}">Create a new Expense Category</a>
                    </li>
                    <li>
                        <a href="{% url "create_account" %}">Create a new Account</a>
                    </li>
                    <li>
                        <a href="{% url "create_receipt" %}">Create a new Receipt</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url "signup" %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url "login" %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
