{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thread>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for account in account_list %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    {% comment %} receipts is the foregin key {% endcomment %}
                    <td>{{ account.receipts.all | length }}</td>
                </tr>
            {% endfor %}
            </thread>
        </table>
    </main>
{% endblock content %}
