{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thread>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    {% comment %} receipts is the foregin key {% endcomment %}
                    <td>{{ category.receipts.all | length }}</td>
                </tr>
            {% endfor %}
            </thread>
        </table>
    </main>
{% endblock content %}
